.rcf-markdown {
  &-code {
    position: relative;
    padding-top: 40px !important;
    border-radius: 6px !important;
    &:not(pre) > code[class*='language-'],
    pre[class*='language-']::selection,
    pre[class*='language-'] ::selection,
    code[class*='language-']::selection,
    code[class*='language-'] ::selection {
      text-shadow: none;
      background: #46515f;
    }
    &::after {
      content: '';
      position: absolute;
      top: 9px;
      left: 12px;
      z-index: 1;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fc625d;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    }
  }
  &-ul {
    list-style-type: disc;
    padding-left: 15px;
  }
  &-ol {
    list-style-type: disc;
    padding-left: 15px;
  }
  &-li {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #111;
  }
  &-h3 {
    border-left: 4px solid #ef7060;
    padding-left: 10px;
  }
  &-strong {
    padding: 1px;
    color: #ee3f4d;
    font-weight: 600;
    font-size: 13px;
  }
  &-blockquote {
    padding: 6px 10px;
    color: #555;
    border-left: 4px solid #ef7060;
    background: #fff9f9;
    font-size: 1rem;
    p {
      margin: 0;
    }
  }
  &-table {
    width: 100%;
    border: 1px solid #eee;
    thead {
      background-color: #f7f8f9;
      height: 30px;
    }
    th,
    td {
      text-align: left;
      padding-left: 10px;
      border: 1px solid #eee;
      height: 32px;
      color: #111;
    }
  }
  code {
    background-color: #f9f1db;
    color: #e37933;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
  }
}
